{% load static %}

<!DOCTYPE html>
<html>
<head>
<title> Team.Blog</title>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
		<div class="container">
			<div class="logo">
				<a href="{% url 'blog' %}"><h1>Team.Blog</h1></a>
			</div>
			<div class="navigation">
				<ul>
					<li><a href="{% url 'index' %}">Team.Homepage</a></li>
					<li><a href="{% url 'scores' %}">Scores and Results</a></li>
					<li><a href="{% url 'contact' %}">Contact Us</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="container">
		<div class="header-bottom">
		<div class="type">
				<h3>Sports</h3><br>
			</div>
			<span class="menu"></span>
			<div class="list-nav">
				<ul>                                                                 
					<li><a href="{% url 'football' %}">Football</a></li>|
					<li><a href="{% url 'rugby' %}">Rugby</a></li>|
					<li><a href="{% url 'american' %}">American Football</a></li>
				</ul>
			</div>
			<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".list-nav" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->
			<div class="clearfix"></div>
		</div>
	</div>
	
{% block content %}
{% endblock content %}

	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="col-md-4 footer-links">
					<h4>Official Websites</h4>
					<a href="https://fr.uefa.com/uefachampionsleague/index.html#/" target="blank">UEFA Champions League</a>
					<a href="http://www.fifa.com/worldcup/index.html/" target="blank">FIFA World Cup</a>
					<a href="http://www.lfp.fr/" target="blank">Ligue 1</a>
					<a href="https://www.premierleague.com/" target="blank">Premier League</a>					
					<a href="http://www.lnr.fr/rugby-top-14" target="blank">Rugby Top 14</a>
					<a href="http://www.epcrugby.fr/europeanrugbychampionscup/index.php" target="blank">Rugby Champions Cup-Challenge Cup</a>
					<a href="https://www.nfl.com/" target="blank">National Football League</a>
					<a href="https://www.nhl.com/" target="blank">National Hockey League</a>
					<a href="https://www.nba.com" target="blank">NBA</a>
				</div>
				<div class="col-md-6 footer-links">
					<h4>Latest Articles</h4>
					{% for post in blog_articles %}
					<a href=" {% url 'detail' post.pk %}">{{ post.title }}</a>
					{% endfor %}
				</div>
				<div class="col-md-2 footer-links">
					<h4>Team.Links</h4>
					<a href="{% url 'index' %}">Team.Homepage</a>
					<a href="{% url 'scores' %}">Scores and Results</a>
					<a href="{% url 'contact' %}">Contact Us</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="copyrights">
					<p>Copyright Team.{% now 'Y' %} &copy; All rights reserved </p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>