{% extends "blog/blog.html" %}

{% block content %}


<div class="container">
	<div class="content">
		<div class="single-page">
			<div class="print-main">
				<h3>Latest Posts</h3>
				<div id='buttons'>
				<a href="{% url 'create' %}" type="button" class="btn btn-info"> Create Post </a><br><br><br>
				</div>
				{% for post in blog_articles %}
				<a href=" {% url 'detail' post.pk %}">{{ post.title }}</a>
				<p class="sub_head">Posted by Team.</a> on {{ post.created }}</p>
				<a href="#"><img src="images/printing.jpg" class="img-responsive" alt="" /></a>
				{% if post.sport == 'Football' %}
				<p class="span">Category: <a href="{% url 'football' %}">{{ post.sport }}</a></p>
				{% elif post.sport == 'Rugby' %}
				<p class="span">Category: <a href="{% url 'rugby' %}">{{ post.sport }}</a></p>
				{% elif post.sport == 'American Football' %}
				<p class="span">Category: <a href="{% url 'american' %}">{{ post.sport }}</a></p>
				{% endif %}
				<p class="ptext"> {{ post.body|safe|linebreaks|truncatechars:100}}</p><br><a href="{% url 'detail' post.pk %}"> Read More &rarr;</a>
				<br> <br> <br> <br> <br>
				{% endfor %}
			</div>
		</div>	
	</div>
</div>


{% endblock %}



{{ post.image }}<br>


		<br> <br>
		<button type="button" class="btn btn-dark"> Create Post </button>
	
		
		
		<button type="button" class="btn btn-danger"> Delete Post </button>
		<br> <br>	


<button type="button" class="btn btn-info"> Edit Post </button>